.wrap {
	text-align: center;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 20px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 45px;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #3cb0fd;
}
.typeMath {
	text-align: center;
}
.difficulty {
	text-align: center;
}
.problems {
	text-align: center;
}
.submit {
	text-align: center;
}
.btn2 {
  background: #800080;
  background-image: -webkit-linear-gradient(top, #800080, #C328C3);
  background-image: -moz-linear-gradient(top, #800080, #C328C3);
  background-image: -ms-linear-gradient(top, #80080, #C328C3);
  background-image: -o-linear-gradient(top, #80080, #C328C3);
  background-image: linear-gradient(to bottom, #80080, #C328C3);
  border-radius: 16px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 16px 10px 16px;
}

.btn2:hover {
  background: #FF00FF;
}
